* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main: #FEE2b3;
}

body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main {
    height: 100%;
    width: 100%;
    background-image: url(../Images/hero_bg_1.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/* --------------------- Navbar ---------------------- */
nav {
    height: 100px;
    width: 100%;
    background-color: var(--main);
    display: flex;
    justify-content: space-around;  
    align-items: center;
}

#close {
    display: none;
}

#bar {
    display: none;
}

.logo {
    font-size: 27.2px;
    font-weight: 700;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 0 30px;
}

#navbar li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
}

#navbar li a:hover {
    color: black;
}

/* ----------------------- Dropdown ------------------- */
.dropdown-menu {
    display: none;
}

#navbar li:hover .dropdown-menu {
    height: 250px;
    width: 220px;
    display: block;
    position: absolute;
    background-color: white;
}

#navbar .dropdown-menu ul li {
    padding: 10px 20px;
    text-align: left;
}

.dropdown-menu ul li:hover {
    background-color: aliceblue;
}

.dropdown-menu ul li a {
    color: black;
}

/* ----------------- hero section -------------------- */
.content {
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

/* ----------------- content-Info -------------------- */
.content-heading {
    color: white;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Playfair Display';
}

h1 strong {
    font-weight: 900;
}

.para {
    max-width: 500px;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 30px;
}

/* ----------------- appointment-form -------------------- */
.appointment-form {
    height: 400px;
    width: 450px;
    background-color: white;
    border-radius: 7px;
    margin-right: 137px;
    margin-top: 100px;
}

form {
    display: block;
    padding: 40px;
}

.title {
    color: #364d59;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Playfair Display';
}

form .input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding-inline: 20px;
    margin-bottom: 30px;
    border-color: rgba(0, 0, 0, 0.2);
}

#btn {
    background-color: var(--main);
    font-size: 15px;
    text-align: center;
    border: none;
}

#btn:hover {
    background-color: #fed48d;
}

/* ---------------- Practice Areas ------------------- */
.practice-Areas {
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
   
}

.heading {
    font-weight: 300;
    color: #364d59;
    font-family: 'Playfair Display';
    text-align: center;
    padding-top: 40px;
    font-size: 2rem;
}

.heading strong {
    color: #000;
    font-weight: 700;
}

.heading-para {
    text-align: center;
    font-size: 18px;
    color: #364d59;
    padding-top: 10px;
}

/*------------------ practice-topics ------------------*/
.practice-topics {
    margin-top: 50px;
    padding-bottom: 30px;
}  
.topic-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}

.topic-box {
    height: 250px;
    width: 350px;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    display: block;
    z-index: 2;
}

.topic-box::before {
    content: "";
    height: 50px;
    width: 50px;
    background-color: var(--main);
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 8%;
    z-index: -1;
}

.topic-box i {
    font-size: 40px;
    margin-top: 50px;
    margin-left: 30px;
}

.topic-heading {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 30px;
    font-family: 'Playfair Display';
}

#topic-paragraph {
    color: #999;
    font-size: 17px;
    padding-top: 10px;
    padding-left: 30px;
    line-height: 25px;
}

/* -------------- solutions ----------------- */
.solutions {
    height: 100%;
    width: 100%;
    background-color: white;
}

.solution-content {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.solution-img {
    width: 500px;
    display: inline-flex;
    column-gap: 20px;
}

.solution-img-1 {
    height: 400px;
    width: 50%;
    background-image: url(../Images/atty_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.solution-img-2 {
    height: 400px;
    width: 50%;
    background-image: url(../Images/atty_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.solution-heading {
    max-width: 400px;
    color: #364d59;
    font-weight: 300;
    font-size: 28px;
    font-family: 'Playfair Display';
}

.solution-para {
    max-width: 400px;
    color: #364d59;
    font-size: 1.2rem;
    padding-top: 20px;
    line-height: 30px;
}

.btn2 {
    height: 50px;
    width: 50%;
    background-color: var(--main);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
}

.btn2:hover {
    background-color: #fed48d;
}

/* ----------------- Reviews ------------------*/
.review {
    height: 100%;
    width: 100%;
    background-color: #f8f9fa;
}

.heading2 {
    color: #364d59;
    font-family: 'Playfair Display';
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
}

.review-section {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
}

.review-box {
    height: 270px;
    max-width: 350px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.reviewer-detail {
    display: flex;
}

.review-img1 {
    height: 50px;
    width: 50px;
    background-image: url(../Images/person_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

span {
    color: #ccc;
    padding-top: 8px;
    padding-left: 20px;
    font-size: 16px;
}

.name {
    display: block;
    color: #364d59;
}

.reviewer-para {
    font-size: 18px;
    color: #364d59;
    padding-top: 30px;
    line-height: 30px;
}

/* -------------------- review Image2-------------- */
.review-img2 {
    height: 50px;
    width: 50px;
    background-image: url(../Images/person_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

/* -------------------- review Image3-------------- */
.review-img3 {
    height: 50px;
    width: 50px;
    background-image: url(../Images/person_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

/* ----------------- Second Solution --------------------- */
.second-solution {
    height: 100%;
    width: 100%;
    background-color: white;
}

.solution-content2 {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.second-solution-img {
    height: 500px;
    width: 380px;
    background-image: url(../Images/atty_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
}

.second-solution-heading {
    color: #364d59;
    font-family: 'Playfair Display';
    font-size: 32px;
    font-weight: 300;
}

.second-solution-para {
    max-width: 400px;
    color: #364d59;
    font-size: 18px;
    padding-top: 20px;
    line-height: 30px;
}

.second-solution-list {
    list-style: none;
    padding-top: 20px;
}

.second-solution-list li {
    color: #364d59;
    line-height: 30px;
}

.second-solution-list li i {
    margin-right: 20px;
}

.question-box{
    width: 100%;
}
.question-box .btn-link {
    width: 100%;
    background-color: #fff;
    color: #999;
    padding: 15px;
    margin-top: 10px;
    font-size: 1rem;
    text-align: left;
    border: 1px solid #efefef;
}
.question-box .btn-link:hover {
    color: #000;
}

.btn {
    background-color: white !important;
    color: #000 !important;
}

.answer {
    min-height: 350px;
    max-width: 350px;
    background-color: #f8f9fa;
}

.answer-para {
    padding: 20px;
    color: #888;
    line-height: 30px;
}

/* ---------------- footer -------------------- */
.footer {
    height: 100%;
    width: 100%;
    background-image: url(../Images/hero_bg_footer.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    flex-wrap: wrap;
    padding: 100px;
}

.row-col1 {
    padding-bottom: 20px;
}

.row-col2 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}

.footer-heading {
    font-family: 'Playfair Display';
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 20px;
}

.footer-para {
    color: white;
    max-width: 300px;
    line-height: 30px;
}

.row-col1 .icon-links {
    list-style: none;
    display: inline;
}

.row-col1 .icon-links .icons {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--main);
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
}

.inside-col .footer-ul .footer-li {
    list-style: none;
    padding-bottom: 20px;
}

.inside-col ul .footer-li .footer-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.4s;
}

.inside-col ul li .footer-links:hover {
    color: white;
}

/*-------------------- CopyRight Div ---------------------- */
.row2{
    padding: 50px;
}
.border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.copyright {
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 1rem;
}

@media (max-width:500px) {

    nav {
        justify-content: space-between;
        padding-inline: 30px;
    }

    #navbar {
        position: fixed;
        height: 100%;
        width: 300px;
        top: 0;
        right: -300px;
        z-index: 999;
        display: block;
        background-color: white;
        padding-top: 80px;
        transition: all 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        padding: 15px 30px;
    }

    #navbar li a {
        font-size: 20px;
    }

    #bar {
        display: block;
        font-size: 20px;
    }

    #close {
        display: block;
        font-size: 25px;
        color: #000;
        position: absolute;
        top: 25px;
        right: 25px;
    }

    /* ----------------- hero section -------------------- */
    .content {
        justify-content: center;
    }

    .content-info {
        padding: 15px;
    }

    /* ----------------- appointment-form -------------------- */
    .appointment-form {
        margin: 0px 20px 20px 20px;
    }

    /* ---------------- Practice Areas ------------------- */
    .heading {
        padding-top: auto;
    }
    .heading-para{
        padding: 20px;
    }
    .topic-col {
        gap: 0px;
    }

    .topic-box {
        margin: 25px;
        padding: 5px;
    }

    /* -------------- solutions ----------------- */

    .solution-img {
        padding: 20px;
    }
    .solution-content{
        padding: 0;
    }

    .solution-info {
        padding: 30px;
    }
    .btn2{
        width: 100%;
    }

    /* ----------------- Reviews ------------------*/
    .review-section{
        padding: 20px;
    }

    /* ----------------- Second Solution --------------------- */
    .solution-content2{
        padding: 20px;
    }
    
    /* ---------------- footer -------------------- */
    .row{
        justify-content: flex-start;
        align-items: flex-start;
        padding: 70px 20px 40px 10px;
    }
    .answer{
        width: 100%;
    }
    .row-col2{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 0px;
    } 
    /*-------------------- CopyRight Div ---------------------- */
    .row2{
        padding: 30px;
    }
}